---
http_interactions:
- request:
    method: get
    uri: https://data.seattle.gov/resource/3k2p-39jp.json?$$app_token=&$where=within_circle(incident_location,%2047.593304,%20-122.332165,%201609.34)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 04 Apr 2016 11:25:46 PDT
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '["event_clearance_code",":updated_at","cad_event_number","event_clearance_subgroup","event_clearance_group","zone_beat","cad_cdw_id","event_clearance_date","initial_type_description","district_sector","initial_type_subgroup","incident_location","hundred_block_location","general_offense_number","event_clearance_description","longitude",":id","latitude","at_scene_time","initial_type_group",":created_at","census_tract"]'
      X-Soda2-Types:
      - '["text","meta_data","text","text","text","text","text","calendar_date","text","text","text","location","text","text","text","number","meta_data","number","calendar_date","text","meta_data","text"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "event_clearance_code" : "161",
          "cad_event_number" : "10000246470",
          "event_clearance_subgroup" : "TRESPASS",
          "event_clearance_group" : "TRESPASS",
          "cad_cdw_id" : "15748",
          "event_clearance_date" : "2010-07-17T21:28:00",
          "zone_beat" : "K2",
          "district_sector" : "K",
          "incident_location" : {
            "needs_recoding" : false,
            "longitude" : "-122.327680653",
            "latitude" : "47.596655376"
          },
          "hundred_block_location" : "6XX BLOCK OF 5TH AVE S",
          "general_offense_number" : "2010246470",
          "event_clearance_description" : "TRESPASS ",
          "longitude" : "-122.327680653",
          "latitude" : "47.596655376",
          "census_tract" : "9100.1014"
        }
        , {
          "event_clearance_code" : "063",
          "cad_event_number" : "10000246444",
          "event_clearance_subgroup" : "CAR PROWL",
          "event_clearance_group" : "CAR PROWL",
          "cad_cdw_id" : "15800",
          "event_clearance_date" : "2010-07-17T21:06:00",
          "zone_beat" : "G2",
          "district_sector" : "G",
          "incident_location" : {
            "needs_recoding" : false,
            "longitude" : "-122.318435645",
   [...]
