/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Map Styles */

#map-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* sets map behind */
}

#map-canvas {
  width: 100%;
  height: 100%;
}

/* Toggle Styles */

#wrapper {
   padding-left: 0;
   left: 275px;
}

#wrapper.toggled {
   padding-left: 275px;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   width: 275px;
   height: 100%;
   margin-left: -275px;
   overflow-y: auto;
   background: #000;
   opacity: .85;
   left: 70px;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -o-transition: all .5s ease;
   -ms-transition: all .5s ease;
   transition: all .5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  left: 275px;
}

.category-group,
.msg {
  visibility: hidden;
}

#wrapper.toggled #sidebar-wrapper .sidebar-nav .row .col-xs-12 .category-group,
#wrapper.toggled .msg {
  visibility: visible;
}

/* Sidebar Styles */

.category-group {
  width: 100%;
  line-height: 40px;
  overflow: scroll;
}

.category-link {
  width: 100%;
  white-space: normal;
}

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 100%;
   margin: 0;
   padding: 0;
   list-style: none;
}


.row .col-xs-9,
.row .col-xs-12 div li {
  text-indent: 20px
}

.msg {
  color: #fff;
  padding-left: 20px;
  padding-bottom: 10px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
   font-weight: bold;
   color: #fff;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: #fff;
   display: inline;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

@media(min-width:768px) {
   #wrapper {
       padding-left: 275px;
       left: 275;
   }

   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       left: 275px;
   }

   #wrapper.toggled #sidebar-wrapper {
      left: 70px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
   }

   .category-group,
   .msg {
     visibility: visible;
   }

   #wrapper.toggled #sidebar-wrapper .sidebar-nav .row .col-xs-12 .category-group,
   #wrapper.toggled .msg {
     visibility: hidden;
   }
}
