<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        Century Link Crimes
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-9">
        <div id="map_wrapper">
          <div id="map_canvas" class="mapping"></div>
        </div>
        <%= @data %>
      </div>
      <div class="col-sm-3">
        <div class="btn-group">
        </div>
      </div>
  </div>
</div>
