<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Century Link Crimes
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-10">
        <div id="map_wrapper">
          <div id="map_canvas" class="mapping"></div>
        </div>
      </div>
      <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked" id="category-list">
          <li><a href="#">hello</a></li>
          <li><a href="#">yo</a></li>
        </ul>
      </div>
  </div>
</div>
